@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== BASE ==========*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}
i {
    padding-right: 0.5rem;;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*========== CLASS CSS ==========*/

/*========== LAYOUT ==========*/

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
    padding: 0 30px;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}

/*========== NAV ==========*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 40%;
        height: 40%;
        padding: 2rem;
        background-color: var(--text-color-light);
        transition: .5s;
    }
}



.nav__item {
    margin-bottom: var(--mb-4);
    margin-right: 20px;
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--container-color-alt);
}

.nav__logo {
    padding-left: 3rem;
    color: var(--text-color);
}

.nav__toggle {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--text-color-light);
}

/*=== Show menu ===*/

.show {
    right: 0;
}
/*==========HOME==========*/

.home

/*========== MEDIA ==========*/

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link {
        color: var(--text-color-light);
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}